<a href="https://colab.research.google.com/github/jumbokh/csu1111-class/blob/main/DataScience/notebooks/ch06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#! ipython suppress id=d9f0464c2a1244b080f520999badd4bd
#%pushd book-materials
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)

In [1]:
#! ipython id=46a8a771c67942e2bd64bc6ebe2a5fba
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
#! ipython id=8f03eaac937f43b3a880a650d81342fb
df = pd.read_csv("examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
#! ipython id=04eaafad5e034dd888ca309bfa6fd75c
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
#! ipython id=f14a82cd794d41c19a587da1a8697b4e
pd.read_csv("examples/ex2.csv", header=None)
pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
#! ipython id=c94028be0e0141988bcf4471971f84d4
names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
#! ipython id=3bed923466d542a9b069c9aa7f84ce98
!cat examples/csv_mindex.csv
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [9]:
#! ipython id=364c583bcfd44701a8bbabd67e6f2d92
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
#! ipython id=dbcfb3db7cb046139c6fe3965dfbc337
result = pd.read_csv("examples/ex3.txt", sep="\s+")
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [11]:
#! ipython id=1a93afa48ac84550b6c5cc40b6c035c1
!cat examples/ex4.csv
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
#! ipython id=f88ef9456a224c569566b57060aee8b5
!cat examples/ex5.csv
result = pd.read_csv("examples/ex5.csv")
result

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [13]:
#! ipython id=53a72d55cdb043db96baea401c67df1a
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [14]:
#! ipython id=1cf88e6ecb114f85be97158d778d240c
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
#! ipython id=0796a9351d054dec84bcafca9365b6f7
result2 = pd.read_csv("examples/ex5.csv", keep_default_na=False)
result2
result2.isna()
result3 = pd.read_csv("examples/ex5.csv", keep_default_na=False,
                      na_values=["NA"])
result3
result3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [16]:
#! ipython id=4b0175de660345f0a4ab265d7c417716
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
pd.read_csv("examples/ex5.csv", na_values=sentinels,
            keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

In [17]:
#! ipython id=22dffe254b5f43f481cd0f8d13c62216
pd.options.display.max_rows = 10

In [19]:
#! ipython id=055bff4f7aed4f418805382c1dda1646
result = pd.read_csv("examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [20]:
#! ipython id=41032a5b1c6b4b34bb984ec9b5a64431
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [21]:
#! ipython id=84f794c881cb4d4c88785be1472217d7
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [22]:
#! ipython verbatim id=1b95293666ba4c09bbb82b813e3fdc66
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [23]:
#! ipython id=1938b6094d7449989e3dd9ed18068208
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [24]:
#! ipython id=19731c9bcc2c4dc5aa3a08ac4e701b94
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
#! ipython id=46552b7351b343dbaf3cfa06fef2cc42
data.to_csv("examples/out.csv")
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [26]:
#! ipython id=60850d24fb5343f9a00e37f7d71bd70a
import sys
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [27]:
#! ipython id=a3ea57dfedf44b7eaf59ba88302ec310
data.to_csv(sys.stdout, na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [28]:
#! ipython id=03d6831eeaae4d03962d93bb0c3a39aa
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [29]:
#! ipython id=bc662cdc7cee43eca790a6257e99e4a6
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [31]:
#! ipython id=11f6d5afa5a240a8b5676cc98ea2efa6
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [32]:
#! ipython id=d7e0bd861ab44c83a85d999bf4112661
import csv
f = open("examples/ex7.csv")
reader = csv.reader(f)

In [33]:
#! ipython id=f903ffcb7fdf4bb5b429d1ac45e4c8ce
for line in reader:
    print(line)
f.close()

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [34]:
#! ipython id=c8a91bd55f77454a9508ca7e7fecb152
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))

In [35]:
#! ipython id=4e1906eda527462eb82b91617936c9ec
header, values = lines[0], lines[1:]

In [36]:
#! ipython id=a4b8e87dc8c04c29b4ab31c98f95b586
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [37]:
#! ipython verbatim id=b31977579a1a4e46a5b0227cf8144ad7
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [38]:
#! ipython id=08101dece6d14f2089396736bd970f4f
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [39]:
#! ipython id=2c27b3b11547444f94476c8b10b8236c
asjson = json.dumps(result)
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [40]:
#! ipython id=7e072ae2cab94f68b2d7c6785537c95d
siblings = pd.DataFrame(result["siblings"], columns=["name", "age"])
siblings

    name  age
0  Scott   34
1  Katie   42

In [41]:
#! ipython id=33f67ed06da0416f85f6c68c2ce0e160
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [42]:
#! ipython id=e30efe35105546679bd86495938792e6
data = pd.read_json("examples/example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [43]:
#! ipython id=f53e717419144837bb8cb98e0ec81105
data.to_json(sys.stdout)
data.to_json(sys.stdout, orient="records")

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [45]:
#! ipython id=4fbb17d66d5e4ae4b0c145b59b8c1871
tables = pd.read_html("examples/fdic_failed_bank_list.html")
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [46]:
#! ipython id=009f410066cc488cb888a606b3b7318c
close_timestamps = pd.to_datetime(failures["Closing Date"])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [47]:
#! ipython id=08f87224a0e9499091e5860426305ec2
from lxml import objectify

path = "examples/Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

In [48]:
#! ipython verbatim id=96872f4505bb496c898ee0561a1e7bc0
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [49]:
#! ipython id=ef60a86e732442368c22f0c89edfd858
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [50]:
#! ipython id=c6055246ec4747979a1cd62185887324
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [51]:
#! ipython id=6163973a4ffe49e284a3300ae795a1ba
frame = pd.read_csv("examples/ex1.csv")
frame
frame.to_pickle("examples/frame_pickle")

In [52]:
#! ipython id=ab75f25904ad4cc79d3f2cdc2395a190
pd.read_pickle("examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#! ipython suppress id=f5d02c3f7e9d4c1f8c38fd81fd1f27e6
!rm examples/frame_pickle

In [ ]:
#! ipython id=11f4d6a438044669885fb816317165a0
fec = pd.read_parquet('examples/fec.parquet')

In [ ]:
#! ipython id=e82fff111381496685a03a0c4047dfb9
xlsx = pd.ExcelFile("examples/ex1.xlsx")

In [ ]:
#! ipython id=3e8f42e30f3244edb4389f49233bdc21
xlsx.sheet_names

In [ ]:
#! ipython id=de5cdf10d38f4eeda477817b70639cad
xlsx.parse(sheet_name="Sheet1")

In [ ]:
#! ipython id=dec5fb5ce91a45119a981ab35a34bd98
xlsx.parse(sheet_name="Sheet1", index_col=0)

In [ ]:
#! ipython id=fd02195f471844f7ba4446f1f7c29cc8
frame = pd.read_excel("examples/ex1.xlsx", sheet_name="Sheet1")
frame

In [ ]:
#! ipython id=bc24648985c74f5eb035f54284ed2b47
writer = pd.ExcelWriter("examples/ex2.xlsx")
frame.to_excel(writer, "Sheet1")
writer.save()

In [ ]:
#! ipython id=52e2638f13584a1187b9d3e21d68911c
frame.to_excel("examples/ex2.xlsx")

In [ ]:
#! ipython suppress id=b1ace24a923042aab0697fdf963d524f
!rm examples/ex2.xlsx

In [ ]:
#! ipython suppress id=f8d4df208f1f46b89c6d918e3309daca
!rm -f examples/mydata.h5

In [ ]:
#! ipython id=87dcbcfb24f141af8f33a32e079b8ce6
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore("examples/mydata.h5")
store["obj1"] = frame
store["obj1_col"] = frame["a"]
store

In [ ]:
#! ipython id=614a81745b2f4d2d84834dfddd932111
store["obj1"]

In [ ]:
#! ipython id=d18d0acfeddb4733a4577289403d09b7
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <= 15"])
store.close()

In [ ]:
#! ipython id=a9dd67161ad7429e9d3b395bc2270fde
frame.to_hdf("examples/mydata.h5", "obj3", format="table")
pd.read_hdf("examples/mydata.h5", "obj3", where=["index < 5"])

In [ ]:
#! ipython id=f8d4df208f1f46b89c6d918e3309daca
import os
os.remove("examples/mydata.h5")

In [ ]:
#! ipython id=82d63f060df84920825dce3f2dcb1855
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp.raise_for_status()
resp

In [ ]:
#! ipython id=b12f3d5f473b4758abae8e22071e5b77
data = resp.json()
data[0]["title"]

In [ ]:
#! ipython id=33a7e76fa12f492d8af3004826fb90aa
issues = pd.DataFrame(data, columns=["number", "title",
                                     "labels", "state"])
issues

In [ ]:
#! ipython id=efdf76a63fe546b4a6db89426856a104
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

In [ ]:
#! ipython id=aac2e8e703d7481a95bb95308ddd0914
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [ ]:
#! ipython id=15dec60cced441718d2a1af3274c94e7
cursor = con.execute("SELECT * FROM test")
rows = cursor.fetchall()
rows

In [ ]:
#! ipython id=af798082a50344d1998d995300f377d6
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
#! ipython id=c35bc91fbffb4145b634cd3093af8452
import sqlalchemy as sqla
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("SELECT * FROM test", db)

In [ ]:
#! ipython suppress id=95e53f5f4b104e3fae84f2507f4c39db
!rm mydata.sqlite

In [ ]:
#! ipython suppress id=fd013d6c63b44310b5712f05570e3255
%popd